@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Satisfy&display=swap');
 $base-font: 'Roboto';
 $logo-font: 'Satisfy';
 $base-bg-color:#f8f8ed;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
 
.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header{
  width: 100%;
  background-color:$base-bg-color;
  .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1;
  
  
    }
  .header-content{
    font-family: $base-font;
    display: flex;
    align-items: center;
    .logo-container{
      .logo{
        font-size: 2.5rem;
        font-family: $logo-font;
        cursor: pointer;
      }
    }
    padding-inline: 2rem;
    padding-block: 0.75rem;
    justify-content: space-between;
    .header-links{
      display: flex;
      .link{
        margin-left: 2rem;
        font-size: 1.25rem;
        color: black;
      }
    }
        .header-icons {
          position:relative;
          .header-icon {
            font-size: 1.5rem;
            padding-left: 0.75rem;
            cursor: pointer;
          }
          .user-panel{
            position: absolute;
            background-color:white;
            border-radius: 5px;
            box-shadow: -2px 2px 2px  $base-bg-color;
            right: 10%;
            width: 250%;
            transform: translateY(-10px);
            opacity:0;
            pointer-events: none;
            z-index: 2;
            transition:0.2s all;
            .user-panel-content{
              padding:1rem;
              text-align: center;
              .user-panel-header{
                font-size: 1.25rem;
                
              }
              .user-panel-buttons{
                  padding-top: 1rem;
                  display: flex;
                  flex-direction: column;
                  gap:1.5rem;
                 .sign-in-button, .sign-out-button, .your-account-button{
                  padding-inline: 1rem;
                  padding-block: 0.5rem;
                  border-radius: 5px;
                  outline: none;
                  border: none;
                  cursor: pointer;
                  font-weight: 500;
                  width: 100%;
                  font-weight: 500;
                  background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
                  box-shadow: 0px 2px 3px rgb(0, 0, 0);
                  transition: all 0.25s ease;
                 }
                }
                .sign-in-button:hover, .sign-out-button:hover, .your-account-button:hover{
                  filter: brightness(105%);
                }
            }
          }
        }
  }
}
.image-banner{
  background-image: url(../images/bannerImg.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
}

.trending-container {
  padding-top: 2.5rem;
  font-family: $base-font;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline:3rem;
  .trending-text {
    font-weight: 500;
    font-size: 1.5rem;
  }

  .trending-flex {
    padding-block: 1.75rem;
      display: flex;
      gap:1.5rem;
      width: 100%;
      justify-content: space-between;
    .trending-flex-image {
      min-width: 30%;
      aspect-ratio: 1/1;
      min-height: 30%;
      background-color: black;
      background-size: cover;
      background-position: center;
      border-radius: 5px;
      cursor: pointer;
    }
    

  }
}

.perks{
  margin-top: 1.75rem;
  padding-block: 1rem;
  display: flex;
  font-family: $base-font;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  background-color: $base-bg-color;
  
  .perk{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
   
    .perk-text{
      padding-top: 0.5rem;
      text-align: center;
    }
    .perk-icon{
      font-size: 2.25rem;
    }
    .perk-header{
      font-weight: 500;
    }
  }
}
footer{
  font-family: $base-font;
  background-color:$base-bg-color;
  text-align: center;
  padding-block: 0.25rem;
  margin-top: auto;
  

}
@media (max-width:907px){
  .trending-container{
    .trending-flex{
      flex-direction: column;
      align-items: center;
      .trending-flex-image {
          width: 70%;
          min-height: 20%;
        }
    }
  }
  .perks{
    flex-direction: column;
    gap:3.5rem;
  }
}

@media (max-width:644px){
  .header-content  *{
    display: none;
  }
  .header-content{
    .logo-container {
      display: block;
        .logo {
          display: block;
        }
      }
  }
}
