@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Satisfy&display=swap');
$base-font: 'Roboto';
$logo-font: 'Satisfy';
$base-bg-color: #f8f8ed;

.login-container{
    font-family: $base-font;
    background-color:#f7f7f7;
    width: 40%;
    margin:auto;
    border-radius: 10px;
    box-shadow: 0px 1px 7px  black;
    .login-header{
        font-weight: 500;
        font-size: 1.25rem;
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 1.5rem;
    
    }
    .login-form{
        display: flex;
        padding-inline: 2rem;
        flex-direction: column;
        align-items: center;
        .login-input{
            width: 100%;
            border-radius: 10px;
            padding-inline: 0.5rem;
            outline: none;
            border:none;
            //border-bottom: 1px solid black;
            margin-block: 1rem;
            padding-block: 0.5rem;
            background-color: rgb(224, 224, 224);
        }
        .login-button{
           margin-block-end: 1rem;
           padding-block: 0.75rem;
           border-radius: 5px;
           border:none;
           width: 100%;
           font-weight: 500;
           cursor: pointer;
           background-color: #e3b04b;
           text-transform: capitalize;
           color: rgb(32, 32, 32);
           font-size: 1.1rem;
           transition: all 0.25s ease;
        }
        .login-button:hover{
            filter: brightness(110%);
        }
    }
    .login-footer{
        padding-block: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:0.5rem;
        .login-footer-link{
            color: #96670a;
            transition: all 0.25s ease;
        }
        .login-footer-link:hover{
            color: #eca413;
        }
    }
}
.email-errors, .password-errors{
    padding-bottom: 1rem;
    .input-error{
        color:rgba(255, 0, 0, 0.897)
    }
}
@media (max-width:864px){
    .login-container{
        width: 60%;
    }
}
@media (max-width:564px) {
    .login-container {
        width: 90%;
    }
}